<!-- index.html -->
<h2>Users Listing</h2>
<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Hover rows <small>Try hovering over the rows</small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="table table-hover" ng-if="users.length>0">
                <thead>
                <tr>
                <tr>
                    <th>SNo.</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Contact No.</th>
                    <th>Actions</th>
                </tr>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in users">
                    <td>1</td>
                    <td> {{ user.name }}</td>
                    <td> {{ user.contactNo }} </td>
                    <td>{{ user.address }}</td>
                    <td>
                        <a ui-sref="edit({id:user._id})">Edit</a> |
                        <a href="#" ng-click="deleteUser(user._id)">Delete</a>
                    </td>

                </tr>
                </tbody>
            </table>
            <div ng-if="users.length==0">
                No record found !!
            </div>
        </div>
    </div>
</div>

